body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



#container {
    display: flex;
    flex-wrap: wrap;
    padding: 200px 200px;
}

.square-div {
    border: 1px solid cyan;
    box-sizing: border-box;
    
}


